<ion-view view-title="{{ data.contact_header }}">
	<ion-content >
		<img src='{{ data.contact_img }}' height='10%' width='100%'>
		<div class='card'>
			<div class="item item-text-wrap">
				<h3>Vineyard!!!</h3>
				<p>{{ data.contact_content }}</p>
			</div>
		</div>
		<div class="button-bar">
		  <a class="button ion-iphone" href='tel: {{ data.contact_phone }}'></a>
		  <a class="button ion-email" href='mailto: {{ data.contact_email }}'></a>
		  <a class="button ion-location" href='#/maps'></a>
		</div>
	</ion-content>
</ion-view>