<ion-view view-title="{{ data.home_header }}">
	<ion-content>
		<div>
			<img src='{{data.home_img}}' width='100%'>
			<button class="button button-full button-stable" onclick="location.href='#/contact'">
	            <h5>{{ data.home_link1 }}</h5>
	        </button>
			<button class="button button-full button-stable" onclick="location.href='#/info1'">
	            <h5>{{ data.home_link2 }}</h5>
		    </button>
		    <button class="button button-full button-stable" onclick="location.href='#/productSelect'">
	            <h5>{{ data.home_link3 }}</h5>
		    </button>
	</ion-content>
</ion-view>