<ion-view view-title="{{ data.home_header }}">
	<ion-content>
		<div>
			<img src='{{data.home_img}}' height='10%' width='100%'>
			<button class="button button-full button-stable" onclick="location.href='#/contact'">
	            <h3>{{ data.home_link1 }}</h3>
	        </button>
			<button class="button button-full button-stable" onclick="location.href='#/info1'">
	            <h3>{{ data.home_link2 }}</h3>
		    </button>
		    <button class="button button-full button-stable" onclick="location.href='#/info2'">
	            <h3>{{ data.home_link3 }}</h3>
		    </button>
	</ion-content>
</ion-view>