<ion-view view-title="Products and Services">
	<ion-content>
		<div>
			<button class="button button-full button-stable" onclick="location.href='#/info2'">
	            <h3>{{ data.info2_header }}</h3>
	        </button>
			<button class="button button-full button-stable" onclick="location.href='#/info3'">
	            <h3>{{ data.info3_header }}</h3>
		    </button>
		    <button class="button button-full button-stable" onclick="location.href='#/info4'">
	            <h3>{{ data.info4_header }}</h3>
		    </button>
	</ion-content>
</ion-view>