<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.test2483029" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Clifton Spice alpha</name>
  <description> 
    A test app for the clifton spice project
  </description>
  <author email="rich.swingler@yahoo.co.uk" href="http://clifton-spice.d7-services.uk/">
      Clifton Spice 1 man Dev Team
  </author>
  <icon src="img/sean/logo001pct25.jpg" platform="ios" width="57" height="57" density="mdpi" />
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>